.row
  .col.s12.center
    %h2 Home
.row
  = render 'search'
  .col.s12
    .card
      .card-content
        %span.card-title
          - if @search
            Search Results
            (
            = @items.count
            )
          - else
            Items
          %span.right
            = link_to 'Refresh', ''
        %ul.collapsible.popout{'data-collapsible': 'accordion'}
          - if @items.empty?
            Sorry, nothing found :(
          - else
            = render partial: 'preview', collection: @items, cached: true
