.row
  .col.s12.center
    %h2 Homepage
.row
  - # TODO: Remove me
  .col.s12
    .card
      .card-content
        %span.card-title Random Items
        %ul.collapsible.popout{'data-collapsible': 'accordion'}
          = render partial: 'preview', collection: @items, cached: true
