/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize";
@import "materialize/extras/nouislider";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

body {
    /* background-color: #eeeeee; */
    background: #303030;
    @extend .white-text;
}

.card, .tabs, .card-content > .collection > a, .collection {
    background: #424242;
    border-color: #424242 !important;
}

.btn-flat {
    @extend .grey-text, .text-lighten-2;
}


// navbar

// input[id="search"] {
//     height: 45px !important; 
//     margin-top: 10px;
//     border-radius: 5px;
// }
// .search-input{
//     background-color: #82b1ff ;
//     height: 45px !important; 
//     margin-top: 10px;
//     border-radius: 5px;
// }
// nav .input-field label {
//     top: -8px;
//     left: 0;
// }
// span.badge.margin {
//     font-weight: 300;
//     font-size: 0.8rem;
//     color: #fff;
//     border-radius: 2px;
// }

// span.badge.margin.positive {
//     @extend .light-green, .lighten-1, .black-text;
// }

// span.badge.margin.negative {
//     @extend .red, .lighten-1, .black-text;
// }

a.collection-item.avatar img.circle {
    border-radius: 0%;
    // disable the circle drawing for items in the collection (index page)
}


.card-balance {
    @media only screen and (min-width: 992px) {
        display: flex;
        flex-direciton: column;
    }
}

.card.fill {
    height: 100%;
}

h4 > #item-icon {
    height: 2.28rem; 
}

h4#item-title {
    font-weight: 300;
}
